:root {
    --modal-separation: 1rem;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-background-color, rgba(34, 34, 34, 0.5));
    z-index: 20;
    transition: 500ms;
    pointer-events: none;
}

.modal.clicked {
    pointer-events: initial;
    cursor: pointer;
}

.modal:not(.opened) {
    display: none;
}

.modal .modal-content {
    pointer-events: initial;
    cursor: default;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--modal-content-background-color, #fff);
    max-height: 100vh;
    overflow: auto;
}

/* ? MD */
@media (min-width: 768px) {
    .modal .modal-content {
        top: initial;
        transform: initial;
    }

    .modal .modal-content.center {
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    
    .modal .modal-content.left {
        left: var(--modal-separation);
        transform: translateX(0);
    }
    
    .modal .modal-content.left.center {
        left: var(--modal-separation);
        top: 50%;
        transform: translateY(-50%);
    }
    
    .modal .modal-content.top {
        top: var(--modal-separation);
        transform: translateY(0);
    }
    
    .modal .modal-content.top.center {
        top: var(--modal-separation);
        left: 50%;
        transform: translateX(-50%);
    }
    
    .modal .modal-content.right {
        right: var(--modal-separation);
        transform: translateX(0);
    }
    
    .modal .modal-content.right.center {
        top: 50%;
        right: var(--modal-separation);
        transform: translateY(-50%);
    }
    
    .modal .modal-content.bottom {
        bottom: var(--modal-separation);
        transform: translateY(0);
    }
    
    .modal .modal-content.bottom.center {
        bottom: var(--modal-separation);
        left: 50%;
        transform: translateX(-50%);
    }
}

/* ? LG */
@media (min-width: 1024px) {
    /**/
}

/* ? XL */
@media (min-width: 1280px) {
    /**/
}

/* ? 2XL */
@media (min-width: 1536px) {
    /**/
}